<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MyLittleSlideShow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>            
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
    <userSettings>
        <MyLittleSlideShow.Properties.Settings>
            <setting name="ImageChangeIntervall_Minutes" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="PositionLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PositionTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastPathOfApplication" serializeAs="String">
                <value/>
            </setting>
            <setting name="Autostart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScanFolderRekursiv" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastLoadedFile" serializeAs="String">
                <value/>
            </setting>
            <setting name="FolderPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="SharpenValue" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="SharpImages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WithAmbiFrame" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpacityOfAmbiFrame" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="SetEveryImageAsWallpaper" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainWindowHeight" serializeAs="String">
                <value>315</value>
            </setting>
            <setting name="MainWindowWidth" serializeAs="String">
                <value>386</value>
            </setting>
            <setting name="UpdateRequired" serializeAs="String">
                <value>True</value>
            </setting>
        </MyLittleSlideShow.Properties.Settings>        
    </userSettings>
</configuration>
